/* Denna fil skall innehålla din CSS kod */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@100;500&family=Roboto+Slab:wght@300&family=Zen+Antique&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;

}


/* Navbar*/
#navbar{
    font-family: 'Raleway', sans-serif;
    position: fixed; 
    overflow: hidden;
    top:0;
    left:0;
    display: flex; 
    z-index: 99;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 10px; /* Large padding which will shrink on scroll (using JS) */    
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    transition: all 0.3s ease-in-out 2s; 
    background-color: rgba(255, 255, 255, 0.37);

    }
  
    /* Style the navbar links */
    #navbar a {
        float: left;
        color: rgb(10, 10, 10);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        line-height: 25px;
        border-radius: 4px;
        font-size: 16px;
    }
    
    /* Style the logo */
        #logo {
        font-weight: bold;
        transition: 1s;
        font-size: 20px;
        }
            

    .navlinks{
        display: flex;
        align-items: center;
        
        }

    .navlinks li{
        margin: 0 40px;
        } 

    /* Links on mouse-over */
    #navbar a:hover {
        transition: all 0.5s ease 0s;
        background-color:rgb(43, 58, 76);
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    
    /* Style the active/current link */
    #navbar a.active {
        color: rgb(0, 0, 0);
    }
    
    /* Display some links to the right */
    #navbar-right {
        float: right;
    }
    
    #logo {
    width: 1.5em;
    padding: 0px;
    height: 100%;
    }

    #wrapper_index{
        display: grid;
        font-family: 'Raleway', sans-serif;
        width:100%;
        grid-template-areas: 
        "hd"
        "hm"
        "hb"
        "fl"
       ;
        
    }
    


    header{
        grid-area: hd;
        height: 100vh;
        width:100%;
        background-image: url(../img/huvudbild1.png);
        background-size:cover;


    }
    
    .text1_index {
        display: flex;
        letter-spacing: 2px;
        justify-content: start;
        padding-top: 20%;
        padding-left: 10%;
        color: rgb(1, 39, 85);
        width: 70%;
        flex-direction: column;
    }

    .rubrik_header{
        font-size: 80px;
    }

    .text_header{
        font-size: 20px;
    }


    .home{
        grid-area:hm;
        height: 30vh;
       
        
    }
   
    
    .text_home1{
        display: grid;
        justify-items: left;
        padding-top: 30px;
   
        align-items: center;
        font-size: 3vmax;
        justify-content: center;
        color: rgb(1, 39, 85);
    }
    
    
    .dela{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    }
    
    .text_home2{
        padding: 10px;
        font-size: 20px;
        text-align: justify;
        width: 60%;
    }

    .text_home2 p{
        padding: 3px;
        text-align: center;
    }
    

    .vinter_hus{
        height: 50vh;
        width: 40%;
        background-image: url(../img/hus_2.png);
        background-size: cover;
       background-position: center;
    }

    .sommar_hus{
        height: 50vh;
        width: 40%;
       background-image: url(../img/hus_1.jpg);
       background-size: cover;
       background-position: center;
    }
    
    
    .film{
        grid-area: fl;
        height: 60vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
   
    iframe{
        padding-top: 10px;
        height:60vh;
        width: 100%;
       
    }
     
    .film_text{
        width: 50%;
        padding: 20px 20px 20px 20px ;
        
    }

    .harmony{
      color: black;  
      font-size: 30px;
      padding:10px;
    
    }

    .harmony_text{
        color: black;
        font-size: 20px;
    }

    .harmony_text p{
        padding: 10px;
    }

   /*------------- NORTH SIDA ---------- */
    #wrapper_north{
        display: grid;
        width:100%;
        grid-template-areas: 
        "v2"
        "nv"
        "ds"
        "av";
    }

    #hus_bilder {
        grid-area: hb;
        height: 50vh;
        background-color: rgb(0, 0, 0);
    }

    .dela_sommar_vinter{
            display: flex;
            justify-content: space-evenly;
           
        
    }

    .video_2{
        grid-area: v2;
        width: 100%;
        padding-top: 10vh;
    }

    .north_wonder{
        grid-area: nv;
        height: 70vh;
        background-color: rgb(255, 255, 255);
        
        display: flex;
    }

    .dela_nw{
        display: flex;
        justify-items: center;
        justify-content: center;
        align-content: flex-start;
        padding-left: 30px;
        text-transform: unset;
        text-align: justify;
        line-height: 1.5;
        letter-spacing: 1px;
        flex-direction: column;
        align-items: center;
    }

    .title_h1_nw{
            font-size: 30px;
            font-family: 'Raleway', sans-serif;
            text-align: center;
          

        }

    .text_h2_nw{
        font-family: 'Poppins', sans-serif;
        text-align: center;
        width: 85%;
    }

    .vinter{
        border-radius: 0 25%;
        width: 50%;
        height: 70vh;
        padding-right: 30px;
        padding-bottom: 10px;
    }

    .darkness{
        grid-area: ds;
        height: 80vh;
        background-image: url(../img/natt.jpg);
        background-size: cover;
        background-position: center;
        padding-top: 80px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        align-content: space-around;
        text-align: center;
        
        
    }

    .text_darkness{
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 50px;

    }

    .text_h2_darkness{
        padding-top: 10px;
        font-family: 'Poppins', sans-serif;
        color: white;
    }


    .aventyr{
        grid-area: av;
        padding: 50px;
        font-family: 'Raleway', sans-serif;
        background-color: rgb(255, 255, 255);
        display: flex;
        grid-template-areas: "b1 b2 b3";
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: row;

    }

    .bild_1{
        grid-area: b1;
        position: relative;
        width: 350px;
      
    }

    .image_midsommar{
        display: block;
        width: 100%;

    }

    .image_overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.63);
        color: rgb(0, 0, 70);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.45s;
    }

    .image_overlay:hover{
        opacity: 1;

    }

    .image_title{
        font-size: 2em;
        font-weight: bold;
    }

    .image_description{
        font-size: 1.25em;
        margin-top: 0.25em;

    }

    .bild_2{
        grid-area: b2;
        text-align: center;
        font-size: 60px;
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .bild_3{
        grid-area: b3;
        position: relative;
        width: 350px;
    }

    .image_wolf{
        display: block;
        width: 100%;
    }

    .image_overlay2{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.63);
        color: rgb(0, 0, 70);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.45s;
    }

    .image_overlay2:hover{
        opacity: 1;
    }

    .image_title2{
        font-size: 2em;
        font-weight: bold;
    }

    .image_description2{
        font-size: 1.25em;
        margin-top: 0.25em;

    }


    /*------------- ABOUT SIDA ---------- */

    #wrapper_about{
        width: 100%;
        height: 100vh;
        display: flex;
        font-family: 'Raleway', sans-serif;
        color: rgb(0, 8, 114);
        
    }

    .about_us{
    display: flex;
    width: 50%;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;


    }

    .text_omoss{
        width: 90%;
        text-align: center;
        padding: 20px 0 20px 0;
        font-family: 'Poppins', sans-serif;
    }

    .bild_omoss{
        padding: 20px;
        height: 100vh;
        width: 100%;
        background-image: url(../img/omoss.jpg);
        background-size: cover;
    }

    button{
        padding: 20px 35px;
        background-color: #ffffff;
        color: rgb(0, 8, 114);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        justify-content: center;
        transition: all 0.3s ease 0s;
        margin-bottom: 15px;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
    
    }
    
    button:hover {
        background-color: #ffc400;
    }

    /*------------- CONTACT SIDA ---------- */ 

    #wrapper_contact{
        width: 100%;
        height: 100vh;
        
        font-family: 'Raleway', sans-serif;
        color: rgb(0, 8, 114);
        background-image: url(../img/huvudbild1.png);
      
        display: flex;
        background-size: cover;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        align-content: flex-start;
        padding-left:10em;
    }
      
      input[type=text], select, textarea {
        width: 100%;
        padding: 11px;
        border: 1px solid #0037b1;
        border-radius: 16px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }

      input[type=submit] {
        background-color: #3344a769;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #0018a079;
      }
      
      .container {
        border-radius: 5px;
     
    }
    
      




/* ------ Mobile device------- */
[class*="col-"] {
    width: 100%;
  }
@media only screen and (max-width: 850px){


/*---- HAMBURGER -------*/
    #logo{
        font-size: 2vmin;
      
    }

    #navbar{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        height: 10vh;
        background-color: transparent;
        width:100%;
    }

    .burger{
        cursor: pointer;
        padding-right: 20px;
    }

    .navlinks{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        position: fixed;
        right: 0;
        height: 70vh;
        top:-95vh;
        background-color: rgba(255, 255, 255, 0.589);
        align-items: center;
        width: 15vh;
        transition: all 1s;

    }

    .navActive{
        transform: translateY(100vh);
    }

    .navlinks li{
        list-style: none;
    }

    .navlinks a {
        color: rgb(0, 0, 0);
        letter-spacing: 3px;
        font-size: 15px;
    }

    .burger div{
        width: 25px;
        height: 3px;
        background-color: rgb(0, 0, 0);
        margin:5px;
        border-radius:10%;
        transition: all 0.3s;
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
        
    }

    .toggle .line2{
        opacity: 0;
    }

   .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

/*-------Index--------*/

header {
    grid-area: hd;
    height: 64vh;
    width: 100%;
    background-image: url(../img/huvudbild1.png);
    background-size: cover;
}

.text1_index {
    display: flex;
    letter-spacing: 2px;
    justify-content: start;
    padding-top: 20%;
    padding-left: 10%;
    color: rgb(1, 39, 85);
    flex-direction: column;
    width: 70%;
}

.rubrik_header {
    font-size: 50px;
}

.text_header {
    font-size: 10px;
}

.text_home1 {
    display: flex;
    justify-items: left;
    padding-top: 13px;
    align-items: center;
    font-size: 3vmax;
    justify-content: center;
    color: rgb(1, 39, 85);
}

#hus_bilder{
    grid-area: hb;
    height: 50vh;
    background-color: rgb(0, 0, 0);
 
}

.text_home2 {
    padding: 10px;
    font-size: 14px;
    text-align: justify;
    width: 50%;
}

.dela_sommar_vinter {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100%;
}
.vinter_hus{

    width: 50%;
    background-image: url(../img/hus_2.png);
    background-size: cover;
   
}

.sommar_hus {
    width: 50%;
    background-image: url(../img/hus_1.jpg);
    background-size: cover;
}

.film{
    grid-area: fl;
    height: 90vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
}

.film_text{
    width: 100%;
    padding: 20px 20px 20px 20px ;
    
}
  
iframe{
    padding-top: 10px;
    height: 80vh;
   
}

.harmony_text{
    color: black;
    font-size: 14px;
}

/*------- NORTH ------*/

.north_wonder {
    grid-area: nv;
    height: 70vh;
    background-color: rgb(255, 255, 255);
}

.dela_nw {
   
    padding-left: 0;
}

.vinter {
   display: none;
}

.text_darkness {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 26px;
}

.text_h2_darkness {
    padding-top: 25px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    width: 65%;
}

.aventyr{
    grid-area: av;
    height: 20vh;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    display: flex;
    grid-template-areas: 
    "b1"
    "b2"
    "b3";
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;

}

/*----ABOUT US ---*/
#wrapper_about {
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 8, 114);
    flex-direction: column;
    align-items: center;
}

.about_us {
    display: flex;
   width: 100%;
    padding: 20px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.bild_omoss {
   
    background-position: center;
}


/*----CONTACT---*/

#wrapper_contact {
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 8, 114);
    background-image: url(../img/huvudbild1.png);
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    padding: 30px;
    flex-wrap: nowrap;
    align-content: center;
}
   
.contact_us{
    text-align: center;
}
  
}